USE [SuperMarket]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_CUSID]    Script Date: 11/11/2020 7:21:44 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[AUTO_CUSID]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
		SELECT @ID = CusIntID FROM Customers
		SELECT @ID = CASE
			WHEN @ID > 0 THEN 'CS' + CONVERT(VARCHAR, FORMAT((CONVERT(numeric, @ID) + 1),'000'))
			
		END
	RETURN @ID
END